/* import theme modules */
@import url('https://refact0r.github.io/system24/build/system24.css');

body {
    /* font, change to '' for default discord font */
    --font: 'DM Sans'; /* change to '' for default discord font */
    --code-font: ''; /* change to '' for default discord font */
    font-weight: 400; /* text font weight. 300 is light, 400 is normal. DOES NOT AFFECT BOLD TEXT */
    letter-spacing: -0.05rem; /* decreases letter spacing for better readability. recommended on monospace fonts.*/

    /* sizes */
    --gap: 6px; /* spacing between panels */ 
    --divider-thickness: 4px; /* thickness of unread messages divider and highlighted message borders */ 
    --border-thickness: 1px; /* thickness of borders around main panels. DOES NOT AFFECT OTHER BORDERS */ 
    --border-hover-transition: 0.2s ease; /* transition for borders when hovered */

    /* animation/transition options */
    --animations: on; /* off: disable animations/transitions, on: enable animations/transitions */
    --list-item-transition: 0.2s ease; /* transition for list items */
    --dms-icon-svg-transition: 0.4s ease; /* transition for the dms icon */

    /* top bar options */
    --top-bar-height: var(--gap); /* height of the top bar (discord default is 36px, old discord style is 24px, var(--gap) recommended if button position is set to titlebar) */
    --top-bar-button-position: titlebar; /* off: default position, hide: hide buttons completely, serverlist: move inbox button to server list, titlebar: move inbox button to channel titlebar (will hide title) */
    --top-bar-title-position: off; /* off: default centered position, hide: hide title completely, left: left align title (like old discord) */
    --subtle-top-bar-title: off; /* off: default, on: hide the icon and use subtle text color (like old discord) */

    /* window controls */
    --custom-window-controls: off; /* off: default window controls, on: custom window controls */
    --window-control-size: 14px; /* size of custom window controls */

    /* dms button options */
    --custom-dms-icon: off; /* off: use default discord icon, hide: remove icon entirely, custom: use custom icon */
    --dms-icon-svg-url: url(''); /* icon svg url. MUST BE A SVG. */
    --dms-icon-svg-size: 90%; /* size of the svg (css mask-size property) */
    --dms-icon-color-before: var(--icon-subtle); /* normal icon color */
    --dms-icon-color-after: var(--white); /* icon color when button is hovered/selected */
    --custom-dms-background: off; /* off to disable, image to use a background image (must set url variable below), color to use a custom color/gradient */
    --dms-background-image-url: url(''); /* url of the background image */
    --dms-background-image-size: cover; /* size of the background image (css background-size property) */
    --dms-background-color: linear-gradient(70deg, var(--blue-2), var(--purple-2), var(--red-2)); /* fixed color/gradient (css background property) */

    /* background image options */
    --background-image: on; /* off: no background image, on: enable background image (must set url variable below) */
    --background-image-url: url('https://i.imgur.com/YpFU5nP.jpeg'); /* url of the background image */

    /* transparency/blur options */
    /* NOTE: TO USE TRANSPARENCY/BLUR, YOU MUST HAVE TRANSPARENT BG COLORS. FOR EXAMPLE: --bg-4: hsla(220, 15%, 10%, 0.7); */
    --transparency-tweaks: on; /* off: no changes, on: remove some elements for better transparency */
    --remove-bg-layer: off; /* off: no changes, on: remove the base --bg-3 layer for use with window transparency (WILL OVERRIDE BACKGROUND IMAGE) */
    --panel-blur: on; /* off: no changes, on: blur the background of panels */
    --blur-amount: 12px; /* amount of blur */
    --bg-floating: var(--overlays); /* set this to a more opaque color if floating panels look too transparent. only applies if panel blur is on  */

    /* other options */
    --small-user-panel: on; /* off: default user panel, on: smaller user panel like in old discord */

    /* unrounding options */
    --unrounding: off; /* off: default, on: remove rounded corners from panels */

    /* styling options */
    --custom-spotify-bar: on; /* off: default, on: custom text-like spotify progress bar */
    --ascii-titles: on; /* off: default, on: use ascii font for titles at the start of a channel */
    --ascii-loader: system24; /* off: default, system24: use system24 ascii loader, cats: use cats loader */

    /* panel labels */
    --panel-labels: off; /* off: default, on: add labels to panels */
    --label-color: var(--text-muted); /* color of labels */
    --label-font-weight: 500; /* font weight of labels */
}

/* color options */
:root {
  --colors: on; /* off: discord default colors, on: midnight custom colors */
  /* text colors */
  --text-0: rgba(255, 255, 255, 1); /* text on colored elements */
  --text-1: oklch(95% 0 0); /* other normally white text */
  --text-2: oklch(90% 0 0); /* headings and important text */
  --text-3: oklch(80% 0 0); /* normal text */
  --text-4: oklch(70% 0 0); /* icon buttons and channels */
  --text-5: oklch(70% 0 0); /* muted channels/chats and timestamps */

  /* background and dark colors */

  /* accent colors */
  --accent-1: rgb(255, 255, 255, 0.5); /* links and other accent text */
  --accent-2: rgb(255, 255, 255, 0.1); /* small accent elements */
  --accent-3: rgba(255, 255, 255, 0.1); /* accent buttons */
  --accent-4: rgba(255, 255, 255, 0.2); /* accent buttons when hovered */
  --accent-5: rgba(255, 255, 255, 0.2); /* accent buttons when clicked */
  --accent-new: var(--red-2); /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 90%) 40%, transparent); /* background of messages that mention you */
  --mention-hover: linear-gradient(to right, color-mix(in hsl, var(--accent-2), transparent 95%) 40%, transparent); /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 90%) 40%, transparent); /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right, color-mix(in hsl, var(--text-3), transparent 95%) 40%, transparent); /* background of messages that reply to you when hovered */

  /* status indicator colors */
  --online: var(--green-2); /* change to #40a258 for default */
  --dnd: var(--red-2); /* change to #d83a41 for default */
  --idle: var(--yellow-2); /* change to #cc954c for default */
  --streaming: var(--purple-2); /* change to ##9147ff for default */
  --offline: var(--text-4); /* change to #82838b for default offline color */

  /* Glass backgrounds */
  --bg-4: rgba(0, 0, 0, 0); /* main */
  --bg-3: rgba(0, 0, 0, 0.127); /* secondary */
  --bg-2: rgba(18, 18, 22, 0.35);
  --bg-1: rgba(18, 18, 22, 0.25);
  --overlays: rgba(0, 0, 0, 0.3);

  /* Interaction states */
  --hover: rgba(255, 255, 255, 0.06);
  --active: rgba(255, 255, 255, 0.1);
  --active-2: rgba(255, 255, 255, 0.14);

  /* Borders */
  --border-light: rgba(255, 255, 255, 0.08);
  --border: rgba(255, 255, 255, 0.08);
  --border-hover: rgba(255, 255, 255, 0.12);
}

.layer__2efaa,
.container__8a031,
.modal_e44912,
.outer_c0bea0,
.picker__09f65,
.menu__088f7,
.menu_c1e9c4,
.drawerSizingWrapper__9c62c,
.popout__24e32,
.popout_1245,
.popout_4239,
.popout_af3b89,
.container__0f2e8,
.root_bfe55a,
.idle_bfe55a,
.openOnHover__0f2e8,
.selected__6e9f8,
.tooltip__4e35b,
.openOnHover__0f2e8,
.callContainer_cb9592,
.contentWrapper__08434,
.messagesPopoutWrap_e8b59c,
.newMessagesBar__0f481,
.container_fc561d,
.container__4f20e {
  backdrop-filter: blur(20px) saturate(1.2);
  -webkit-backdrop-filter: blur(20px) saturate(1.2);
}

.clanTagChiplet_c19a55,
.clanTag__972a0 {
  background-color: rgba(255, 255, 255, 0.1);
}

.header__8ef02,
.header_fed6d3,
.wrapper__72c38,
.wrapper__14245 {
  background-color: rgba(255, 255, 255, 0);
}

.newMessagesBar__0f481 {
  background-color: rgba(117, 214, 235, 0.5)
}

.backForwardButtons__63abb{
  filter: blur(24px);
}

div[role="dialog"], 
div[role="menu"],
.open_c322aa,
.container__16eb0 {
  backdrop-filter: blur(20px) saturate(1.2);
  -webkit-backdrop-filter: blur(20px) saturate(1.2);
}

.container__16eb0 * {
  color: white !important;
}
